# Gradle build state
build/
.gradle/

# IDE settings
.idea/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar
# (gradle wrapper jar/zip are kept on purpose)

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
